{% extends "layout.html" %}

{% block content %}
    <div class="container">
        {% for f in familiares %}
            <a href="/familiares/{{f.id}}">
                <div class="card">
                    <img class="pic" src="http://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                    <h2>Nombre: {{f.nombre}}</h2>
                    <h2>Apellido: {{f.apellido}}</h2>
                    <h3>Edad: {{f.edad}}</h3>
                    <h3>Fecha de nacimiento: {{f.fechaDeNacimiento}}</h3>
                    <h3>Proesion: {{f.profesion}}</h3>
                    <h3>Direccion: {{f.direccion}}</h3>
                </div>
            </a>
        {% endfor %}
    </div>    
{% endblock %}